{% extends "front/base.html" %}


{% block main-content%}


<h1>Create new post</h1><br/>


<div class="row">

	<div class="col-md-8">
		
	<form action="post" class="" method="POST">
	{% csrf_token %}
	
		<label>Post Title</label>
		<input type="text" name="title" class="form-control">


		<textarea name="body" class="form-control">
		</textarea>

		<label>SEO Url</label>
		<input type="text" name="slug" class="form-control">


		<label>Status</label>
		<select name="status" class="form-control">
			<option value="0">Save as Draft</option>
			<option value="1">Forward for approval</option>
		</select>

	
		<button class="btn btn-primary">Submit</button>
	</form>

	</div>

	<div class="col-md-4">

		<h3>Blog</h3>
		<ul>
			<li><a href="post">Create new post</a></li>
			<li><a href="view">View My Posts</a></li>
		</ul>
	</div>

</div>

{%endblock%}
